.root {
    -fx-background-color: #f3e8ff; /* lavender */
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: 900;
    -fx-text-fill: #2b2b2b;
}

.scroll {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-padding: 14;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 12, 0.18, 0, 6);
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: 800;
    -fx-text-fill: #2b2b2b;
}

.card-sub {
    -fx-font-size: 13px;
    -fx-text-fill: #555;
}

.primary-btn {
    -fx-background-color: #8b5cf6;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-background-radius: 999;
    -fx-padding: 10 18;
}

.secondary-btn {
    -fx-background-color: #e9d5ff;
    -fx-text-fill: #2b2b2b;
    -fx-font-weight: 800;
    -fx-background-radius: 999;
    -fx-padding: 10 18;
}

.remove-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #e63946;
    -fx-font-weight: 900;
}

.qty-btn {
    -fx-background-color: #efe7ff;
    -fx-text-fill: #2b2b2b;
    -fx-font-weight: 900;
    -fx-background-radius: 999;
    -fx-padding: 6 12;
}

.total {
    -fx-font-size: 16px;
    -fx-font-weight: 900;
}
